<h1>Summary</h1>
    
<div>
    Number of guest :  @ViewBag.NumberofGuests
    <br />
    Number of family guest : @ViewBag.NumberOfFamilyGuests 
    <br />
    Youngest guest : @ViewBag.Youngest
    <br />
    Oldest guest :  @ViewBag.Oldest
</div>
<div>
    <a asp-action="Create">Back to Create Page</a>
</div>

